.content {

    .page-title {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $border;

        .icon, svg {
            font-size: 20px;
            width: 18px;
            height: 18px;
            margin: 0 0 0 5px;
        }

        .save-button {
            display: flex;
            align-items: center;

            svg {
                width: 14px;
                height: 14px;
                flex-basis: 0px;
                flex-grow: 1;
                max-width: 100%;
            }

            span {
                flex-basis: 0px;
                flex-grow: 1;
                max-width: 100%;
                padding-left: 5px;
                font-size: 15px;
            }
        }

        &.without-underline {
            padding: 0;
            border: 0;
            margin: 0;
        }
    }

    .block {
        margin: 10px;
        padding: 15px 20px;
        box-shadow: 0px 2px 0px hsla(210, 17%, 84%, .5);
    }

    .white-block {
        background-color: $white;
        border-radius: 4px;
    }

    .green-block {
        background: $green;
        border-radius: 4px;
        color: #fff;
    }
}