*:focus {
    outline: none;
    border: 0;
    box-shadow: none !important;
}

a:hover {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    background-color: $body;
    overflow-y: hidden;
}

input.error {
    border: 1px solid #ffc1c1;
}

label.error {
    color: red;
    font-size: 10px;
    text-align: center;
    width: 100%;
}

pre {
    background: #eceff1;
    padding: 10px 15px;
    border-radius: 4px;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
        height: 3px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $scroll;
    }
}

textarea {
    min-height: 40px;
}

.app-name {
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.btn-success {
    background-color: $green;
    border-color: $green;

    &:hover {
        background-color: $btn-success-hover;
        border-color: $btn-success-hover;
    }
}

.checkbox {

    &:hover {
        cursor: pointer;
    }

    .replacer {
        width: 25px;
        height: 25px;
        background: #f5f7f8;
    }

    input:checked ~ .replacer svg {
        width: 15px;
        height: 15px;
        display: inline-block;
        color: #626a71;
        font-weight: bold;
    }

    svg {
        display: none;
    }

    .text {
        font-size: 14px;
        vertical-align: middle;
        padding-left: 10px;
    }
}

.clickable {
    cursor: pointer;
}

.close {
    font-size: 14px;
}

.CodeMirror {
    background: $light-grey;
    border: 0;
    border-radius: 5px;

    &-gutters {
        border: 0;
        background: #eceff1;
    }

    &-linenumber {
        text-align: center;
    }
}

.col {
    padding: 0;
}

.custom-file {

    label {
        background-color: $light-grey;
        border: 1px solid $light-grey;
    }

    .custom-file-input:focus ~ .custom-file-label {
        border: 1px solid $body;
        box-shadow: none;
    }

    .custom-file-label::after {
        background: $select2-dropdown;
    }
}

.display-file {
    background: #f7f9fa;
    border-radius: 5px;
    margin: 5px 0 !important;
    color: #7b969e;
    font-weight: bold;

    .icon {
        text-align: center;
        padding: 20px 0;
    }


    .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: rtl;
        padding-right: 15px;
    }
}

.form-control {
    background: $light-grey;
    border: 1px solid transparent;

    &:focus {
        border: 1px solid $body;
        background: $light-grey;
    }
}

.hidden {
    display: none;
}

.image-multiple-display {
    max-width: 100%;
    padding-bottom: 5px;

    img {
        width: 100px;
        padding: 10px;
    }
}

.modal {
    -webkit-animation: showSweetAlert .3s;
    animation: showSweetAlert .3s; 
    will-change: transform;

    &::-webkit-scrollbar {
        width: 0px;
    }

    &-backdrop {
        opacity: 0;
        transition: opacity .3s;
    
        &.show {
            opacity: 1;
            background: rgba(0,0,0, .4);
            pointer-events: auto;
        }
    }

    &-content, &-footer, &-header {
        border: 0;
    }
}

.main-container {
    position: fixed;
    max-height: 100%;
}

.notice {
    &:after {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        background: #d85353;
        border-radius: 50%;
        margin: 5px -5px;
    } 
}

.noty_body {
    word-wrap: break-word;
}

.noty_theme__mint.noty_type__success {
    background-color: #14c262;
}

.progress {
    height: 5px;

    &-bar {
        background-color: #25b974;
    }
}

.radio {

    input:checked ~ .replacer .insider {
        border-radius: 50%;
        background: #92989d;
    }

    .insider {
        width: 100%;
        height: 100%;
    }

    .replacer {
        width: 25px;
        height: 25px;
        background: #f5f7f8;
        border: 8px solid #f5f7f8;
        border-radius: 50%;
    }

    .text {
        font-size: 14px;
        vertical-align: text-bottom;
        padding-left: 10px;
    }
}

.row {
    margin: 0;
}

.scrollable {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: $scroll;
    }
}

.select-button-block {
    position: absolute;
    width: 100px;
    text-align: center;
    background: #f0f4f7;
    z-index: 10;
    right: 45px;
    margin-top: 10px;

    .item {
        padding: 6px;
        color: #222;

        &:hover, &.selected {
            background: #e8edf0;
            cursor: pointer;
        }
    }
}

.text-blue {
    color: $text-blue;
    transition: color .2s ease;

    &.clickable:hover {
        color: $text-blue-hover;
    }
}

.text-green {
    color: $text-green;
    transition: color .2s ease;

    &.clickable:hover {
        color: $text-green-hover;
    }
}

.text-grey {
    color: $text-grey;
    transition: color .2s ease;

    &.clickable:hover {
        color: $text-grey-hover;
    }
}

.text-red {
    color: $text-red;
    transition: color .2s ease;

    &.clickable:hover {
        color: $text-red-hover;
    }
}

.trumbowyg {

    &-box {
        border: 0;
        border-radius: 5px;
        margin-top: 0px;
    }

    &-button-pane {
        border: 0;
        border-radius: 5px 5px 0 0;

        &::after {
            height: 0;
        }

        .trumbowyg-button-group::after {
            width: 0;
        }
    }

    &-editor {
        background: #f7f9fa;
        border-radius: 0 0 5px 5px;
    }

    &-modal-box label input {
        line-height: 19px;
    }
}
