.date-input:disabled, .date-input[readonly], .datetime-input:disabled, .datetime-input[readonly], .time-input:disabled, .time-input[readonly] {
    background-color: $light-grey;
}

.flatpickr-calendar {

    span.cur-month {
        font-weight: 100;
    }

    .flatpickr-day {
        max-width: 30px;
        height: 30px;
        line-height: 27px;
        border: 2px solid transparent;
        margin: 3px 6px;

        &.today {
            border-color:$select2-dropdown;

            &:hover, &:focus, &:hover, &:focus {
                background:$select2-dropdown;
                color: #393939;
                border: 2px solid $select2-dropdown;
            }
        }

        &.selected {
            background: $green;
            border: 2px solid $green;
        }
    }

    .numInputWrapper:hover span {
        border-color: transparent;
    }

    .flatpickr-time input.flatpickr-hour {
        font-weight: 100;
    }

    .flatpickr-months {
        padding: 3px 0 15px;
    }
}