.select2 {
    width: 100%;
    display: block;

    .select2-selection {
        background: $light-grey;
        border: 0 !important;
        padding: 0;
        height: 100%;
    }

    .select2-selection__arrow {
        top: 5px !important;
        right: 4px !important;
    }

    .select2-selection__rendered {
        padding: 0.375rem 0.75rem !important;
    }

    .select2-selection--multiple {
        .select2-selection__rendered {
            padding: 0 0.75rem !important;
        }
    }
}

.select2-dropdown {
    background: $select2-dropdown;
    border: 0;

    .select2-results__option--highlighted[aria-selected] {
        background: #28a745;
    }

    .select2-results__option[aria-selected=true] {
        background: #e8edf0;
        color: #222;
    }

    .select2-search__field {
        border: 0 !important;
        border-radius: 5px;
        background: #fff;
        padding: 0.375rem 0.75rem;
        color: #444;
    }

    .select2-search--dropdown {
        padding: 8px 10px;
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 0;
    padding: 2px 10px;
    background: #e8edf0;
    color: #444;
    margin-top: 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 10px;
}