$sidebar-item-height: 25px;
$sidebar-item-padding-top: 7px;

$sidebar-header-padding: 15px;
$sidebar-header-height: 30px;

$sidebar-menu-height: ($sidebar-header-padding * 2 + $sidebar-header-height) + ($sidebar-item-height + $sidebar-item-padding-top * 2);

$sidebar-transition-duration: .2s;

@keyframes submenu {
    0% {
        display: none;
        opacity: 0;
    }
    
    15% {
        display: block;
        opacity: .05;
    }

    25% {
        opacity: .50;
    }
    
    100% {
        opacity: 1;
    }
}

.sidebar {
    overflow: hidden;
    background: linear-gradient(to top right, #40555d, #243034);

    .item {
        padding: $sidebar-item-padding-top 0;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: transparent;

        div {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }

        .icon {
            color: $white;
            font-size: 20px;
            width: 40px;
            height: 25px;
            flex: 0 0 45px;
            transition: padding $sidebar-transition-duration ease;
        }

        .submenu-icon {
            padding-right: 15px;
        }

        .text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $white;
            font-size: 14px;
            padding: 0 15px;
            transition: flex $sidebar-transition-duration ease, transition, padding .2s ease;
        }

        &:hover .text {
            padding: 0 10px;
        }

        &:hover, &.active {
            cursor: pointer;
            background-color: $sidebar-hover;
            transition: background-color .2s ease;
        }

        &:hover + .submenu {
            display: block;
            animation: .5s ease 1 submenu;
        }
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        width: 100%;
        padding: $sidebar-header-padding 15px;
        transition: padding $sidebar-transition-duration ease;
    
        &:hover {
            cursor: pointer;
            background: #33434a;
        }

        &:hover + .submenu {
            display: block;
            animation: .5s ease 1 submenu;
        }
    
        .img {
            flex: 0 0 45px;
            height: 30px;
            max-height: 30px;

            div {
                width: 30px;
                border-radius: 50%;
                overflow: hidden;
            }
    
            img {
                height: $sidebar-header-height;
                max-height: $sidebar-header-height;
                max-width: 100%;
            }
        }
    
        .name {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 14px;
            transition: flex $sidebar-transition-duration ease;
        }

        &.notice {
            &:after {
                width: 10px;
                height: 10px;
                left: 42px;
                top: 32px;
                transition: left $sidebar-transition-duration ease;
            } 
        }
    }

    .sidebar-menu {
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100% - #{$sidebar-menu-height});
        max-height: calc(100% - #{$sidebar-menu-height});

        &::-webkit-scrollbar, .submenu::-webkit-scrollbar {
            width: 0;
        }

        &::-webkit-scrollbar-thumb, .submenu::-webkit-scrollbar-thumb {
            background: $scroll;
        }
    }

    .submenu {
        display: none;
        background: #243035;
        position: fixed;
        width: 200px;
        z-index: 100;
        overflow: hidden;
        overflow-y: auto;
        max-height: 180px;

        &:hover {
            display: block;
        }
    }

    &.minimized {
        flex: 0 0 45px;
        max-width: 45px;
        transition: max-width $sidebar-transition-duration ease, flex $sidebar-transition-duration ease;
    
        .sidebar-header {
            width: 100%;
            padding-left: 7px;

            .name {
                flex: 0 0 0;
            }

            .img {
                max-height: 30px;

                img {
                    max-height: 30px;
                }
            }

            &.notice:after {
                left:35px;
            }
        }

        .sidebar-menu > .item, #expand-sidebar {
            .icon {
                width: 100%;
                padding-left: 12px;
            }
    
            .text {
                flex: 0 0 0;
            }
        }

        .submenu {
            margin: -45px 0 0 45px;
    
            .icon {
                text-align: left;
                padding-left: 20px;
            }

            &.header-submenu {
                margin: -60px 0 0px 45px;
            }
        }
    
        .submenu-icon {
            display: none;
        }
    }

    &.expanded {
        flex: 0 0 245px;
        max-width: 245px;
        transition: max-width $sidebar-transition-duration ease, flex $sidebar-transition-duration ease;
    
        .item {
            .icon {
                text-align: left;
                padding-left: 20px;
            }

            .dripicons-chevron-right {
                padding-left: 15px;
            }
        }

        .submenu {
            margin: -39px 0 0px 245px;

            &.header-submenu {
                margin: -60px 0 0px 245px;
            }
        }
    }
}