.table {
    padding: 0px 10px;

    .row {
        padding: 10px;
        border-radius: 5px;
        align-items: center;

        .col {
            font-size: 14px;
            color: #212529;

            svg {
                width: 13px;
                height: 13px;
            }

            &:last-child {
                border-right: 0;
            }

            &.id {
                flex: 0 0 50px;
                padding: 0 5px;
            }
        }

        &:nth-child(2n):not(.info-line) {
            background: $light-grey;
        }

        &:last-child {
            border-bottom: 0
        }
    }

    .head {
        .col {
            font-size: 12px;
        }

        &.row {
            border-bottom: 0;
            padding-bottom: 3px;
            margin-bottom: 10px;
        }
    }

    .no-data {
        text-transform: uppercase;
        background: $light-grey;
        padding: 10px;
        border-radius: 4px;
        letter-spacing: 3px;
        font-size: 12px;
    }


    .actions {
        flex: 0 0 150px;
        text-align: right;

        .icon {
            display: inline-block;
            font-size: 14px;
            padding: 0 1px;

            svg {
                width: 18px;
                height: 18px;
            }
        }
    }

    .info-line {
        padding-bottom: 0 !important;
    
        .col {
            font-size: 12px;
            padding: 10px 0 0;
            color: #828282;
        }
    
        .pagination {
            float: right;
            margin-bottom: 0;
    
            .page-link {
                border: 0;
                color: #828282;

                &:hover {
                    background-color: $light-grey;
                }
            }

            .page-item {
                &:first-child .page-link {
                    border-radius: 50% 0 0 50%;
                }

                &:last-child .page-link {
                    border-radius: 0 50% 50% 0;
                }

                &.active .page-link {
                    background-color: $light-grey;
                    color: #6f6e6e;
                }
            }

            .disabled:first-child, .disabled:last-child {
                display: none;
            }
        }
    }
}