// Colors
$blue:              #5285D1;
$body:              #E3E9EF;
$border:            #f2f7fa;
$btn-success-hover: #5ab979;
$dark-grey:         #243034;
$green:             #34c582;
$light-grey:        #f7f9fa;
$select2-dropdown:  #f0f4f7;
$scroll:            #00000026;
$sidebar-hover:     #14c262;
$text-blue:         #00b8ff;
$text-blue-hover:   #5291a9;
$text-green:        #25b974;
$text-green-hover:  #368e64;
$text-grey:         #a7babe;
$text-grey-hover:   #6c8c93;
$text-red:          #f00;
$text-red-hover:    #a73d3d;
$top-menu-hover:    #00b8ff;
$white:             #ffffff;